@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
.grecaptcha-badge {
  visibility: hidden;
}
